<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Proyecta Perú</span>
      </mat-toolbar-row>

      <mat-toolbar-row (click)="goToModulo('gestion')">
        <h6>Gestion</h6>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon">verified_user</mat-icon>
      </mat-toolbar-row>

      <mat-toolbar-row (click)="cerrarSesion()">
        <h6>Cerrar Sesion</h6>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>

  <router-outlet></router-outlet>

</mat-drawer-container>